:root {
    background: linear-gradient(to right, #9966CC, black);
    color: #ADD8E6;
}

* {
    font-family: 'MedievalSharp', cursive;
}


h1, h2{
    color: white;
}
/* 
body {
    max-width: 100%
} */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    font-size: 22px
}

.movie-poster {
    max-width: 100%;
    max-height: 100%;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
}

.search-div {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
    max-height: 30px;
}
.movie-card {
    align-items: center;
    justify-items: center;
    position: relative;
    transform: scale(1);
    transition: transform 800ms ease-out;
    z-index: 0;
}

.movie-card:hover{
    z-index: 10;
    cursor: pointer;
    transform: scale(1.15);
    transform-origin: center;
    transition: all 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

.movie-card:hover .movie-title, .movie-card:hover .movie-votes {
    transform: scale(.87);
    transform-origin: center;
    transition: all 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}


