:root {
    background: linear-gradient(to right, #9966CC, black);
    color: #B31033;
}

* {
    font-family: 'MedievalSharp', cursive;
}

@font-face {
    font-family: 'Demoness';
    src: url('./fonts/Demoness.woff2') format('woff2'),
         url('./fonts/Demoness.woff') format('woff'),
         url('./fonts/Demoness.ttf') format('truetype');
  }

h1, h2{
    color: white;
}

